.credit-card {
    width: 450px;
    height: 250px;
    border-radius: 15px;
    background-color: darkgray;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    user-select: none;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-type {
    font-size: 14px;
    font-weight: 700;
    color: black;
}

.card-logo {
    width: 600px;
}

.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.center-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-chip {
    width: 60px;
    height: 60px;
}

.amex-centurion {
    width: 220px;
    height: auto;
}

.right h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.bottom .left h3 {
    font-size: 20px; /* Reduced size of the name at the bottom left */
    color: black;
}

.card-balance {
    font-size: 20px;
    font-weight: 700;
    color: black;
}